<a href="https://colab.research.google.com/github/ashaykargaonkar/Projects/blob/main/AmesHousing/%5BMultiple_Regression_(Python_%26_R)%5D_HousePrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
train = pd.read_csv('train.csv')
train.shape

(1460, 81)

In [ ]:
#X = dataset.drop(['SalePrice'], axis=1)
#y = dataset['SalePrice']

In [ ]:
X = train

***Processing Id variable***

In [ ]:
X = X.drop(columns='Id')

***Processing MSSubClass variable***

MSSubClass: Identifies the type of dwelling involved in the sale.	

        20	1-STORY 1946 & NEWER ALL STYLES                               (Type1)
        30	1-STORY 1945 & OLDER                                          (Type2)
        40	1-STORY W/FINISHED ATTIC ALL AGES                             (Type3)
        45	1-1/2 STORY - UNFINISHED ALL AGES                             (Type4)
        50	1-1/2 STORY FINISHED ALL AGES                                 (Type5)
        60	2-STORY 1946 & NEWER                                          (Type6)
        70	2-STORY 1945 & OLDER                                          (Type7)
        75	2-1/2 STORY ALL AGES                                          (Type8)
        80	SPLIT OR MULTI-LEVEL                                          (Type9)
        85	SPLIT FOYER                                                   (Type10)
        90	DUPLEX - ALL STYLES AND AGES                                  (Type11)
       120	1-STORY PUD (Planned Unit Development) - 1946 & NEWER         (Type12)
       150	1-1/2 STORY PUD - ALL AGES                                    (Type13)
       160	2-STORY PUD - 1946 & NEWER                                    (Type14)
       180	PUD - MULTILEVEL - INCL SPLIT LEV/FOYER                       (Type15)
       190	2 FAMILY CONVERSION - ALL STYLES AND AGES                     (Type16)

In [ ]:
print(X.MSSubClass.unique())

[ 60  20  70  50 190  45  90 120  30  85  80 160  75 180  40]

In [ ]:
sum(X.MSSubClass.isna())

0

In [ ]:
X['MSSubClass'] = X['MSSubClass'].astype(str)

In [ ]:
#Renaming the different MSSubClasses appropriately

X['MSSubClass'] = X['MSSubClass'].replace(['20'],'Type1')
X['MSSubClass'] = X['MSSubClass'].replace(['30'],'Type2')
X['MSSubClass'] = X['MSSubClass'].replace(['40'],'Type3')
X['MSSubClass'] = X['MSSubClass'].replace(['45'],'Type4')
X['MSSubClass'] = X['MSSubClass'].replace(['50'],'Type5')
X['MSSubClass'] = X['MSSubClass'].replace(['60'],'Type6')
X['MSSubClass'] = X['MSSubClass'].replace(['70'],'Type7')
X['MSSubClass'] = X['MSSubClass'].replace(['75'],'Type8')
X['MSSubClass'] = X['MSSubClass'].replace(['80'],'Type9')
X['MSSubClass'] = X['MSSubClass'].replace(['85'],'Type10')
X['MSSubClass'] = X['MSSubClass'].replace(['90'],'Type11')
X['MSSubClass'] = X['MSSubClass'].replace(['120'],'Type12')
X['MSSubClass'] = X['MSSubClass'].replace(['150'],'Type13')
X['MSSubClass'] = X['MSSubClass'].replace(['160'],'Type14')
X['MSSubClass'] = X['MSSubClass'].replace(['180'],'Type15')
X['MSSubClass'] = X['MSSubClass'].replace(['190'],'Type16')

In [ ]:
print(X.MSSubClass.unique())

['Type6' 'Type1' 'Type7' 'Type5' 'Type16' 'Type4' 'Type11' 'Type12'
 'Type2' 'Type10' 'Type9' 'Type14' 'Type8' 'Type15' 'Type3']

In [ ]:
X = pd.get_dummies(X, columns=['MSSubClass'])
X

,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,MSSubClass_Type15,MSSubClass_Type16,MSSubClass_Type2,MSSubClass_Type3,MSSubClass_Type4,MSSubClass_Type5,MSSubClass_Type6,MSSubClass_Type7,MSSubClass_Type8,MSSubClass_Type9
0,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,1,0,0,0
1,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,0,0,0,0
2,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,1,0,0,0
3,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,0,0,1,0,0
4,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,1,0,0,0
1456,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,0,0,0,0
1457,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,0,1,0,0
1458,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,0,0,0,0
1459,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,0,0,0,0

***Processing MSZoning variable***

In [ ]:
X.MSZoning.unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [ ]:
X = pd.get_dummies(X, columns=['MSZoning'])

***Processing LotFrontage variable***

In [ ]:
X.LotFrontage

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [ ]:
sum(X.LotFrontage.isna())

259

In [ ]:
X.LotFrontage = X.LotFrontage.fillna(X.LotFrontage.mean())
X.LotFrontage

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [ ]:
X['LotFrontage'] = X['LotFrontage'].astype(int)

***Processing LotArea variable***

In [ ]:
print(X.LotArea)

0        8450
1        9600
2       11250
3        9550
4       14260
        ...
1455     7917
1456    13175
1457     9042
1458     9717
1459     9937
Name: LotArea, Length: 1460, dtype: int64

***Processing Street variable***

In [ ]:
print(X.Street.unique())

['Pave' 'Grvl']

In [ ]:
X = pd.get_dummies(X, columns=['Street'])

***Processing Alley variable***

In [ ]:
print(X.Alley.unique())

[nan 'Grvl' 'Pave']

In [ ]:
X.Alley = X.Alley.replace(np.nan, 'None')

In [ ]:
X['Alley'] = X['Alley'].astype(str)
X = pd.get_dummies(X, columns=['Alley'])

***Processing LotShape variable***

In [ ]:
print(X.LotShape.unique())
sum(X.LotShape.isna())

['Reg' 'IR1' 'IR2' 'IR3']

0

In [ ]:
X['LotShape'] = X['LotShape'].astype(str)
X = pd.get_dummies(X, columns=['LotShape'])

***Processing LandContour variable***

In [ ]:
print(X.LandContour.unique())

['Lvl' 'Bnk' 'Low' 'HLS']

In [ ]:
X['LandContour'] = X['LandContour'].astype(str)
X = pd.get_dummies(X, columns=['LandContour'])

***Processing Utilities variable***

In [ ]:
print(X.Utilities.unique())

['AllPub' 'NoSeWa']

In [ ]:
sum(X.Utilities.isna())

0

In [ ]:
X['Utilities'] = X['Utilities'].astype(str)
X = pd.get_dummies(X, columns=['Utilities'])

***Processing LotConfig variable***

In [ ]:
print(X.LotConfig.unique())

['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']

In [ ]:
sum(X.LotConfig.isna())

0

In [ ]:
X['LotConfig'] = X['LotConfig'].astype(str)
X = pd.get_dummies(X, columns=['LotConfig'])

***Processing LandSlope variable***

In [ ]:
print(X.LandSlope.unique())

['Gtl' 'Mod' 'Sev']

In [ ]:
sum(X.LandSlope.isna())

0

In [ ]:
X['LandSlope'] = X['LandSlope'].astype(str)
X = pd.get_dummies(X, columns=['LandSlope'])

***Processing Neighborhood variable***

In [ ]:
print(X.Neighborhood.unique())

['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']

In [ ]:
sum(X.Neighborhood.isna())

0

In [ ]:
X['Neighborhood'] = X['Neighborhood'].astype(str)
X = pd.get_dummies(X, columns=['Neighborhood'])

***Processing Condition1 variable***

In [ ]:
print(X.Condition1.unique())

['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']

In [ ]:
sum(X.Condition1.isna())

0

In [ ]:
X['Condition1'] = X['Condition1'].astype(str)
X = pd.get_dummies(X, columns=['Condition1'])

***Processing Condition2 variable***

In [ ]:
print(X.Condition2.unique())

['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']

In [ ]:
sum(X.Condition2.isna())

0

In [ ]:
X['Condition2'] = X['Condition2'].astype(str)
X = pd.get_dummies(X, columns=['Condition2'])

***Processing BldgType variable***

In [ ]:
print(X.BldgType.unique())

['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']

In [ ]:
sum(X.BldgType.isna())

0

In [ ]:
X['BldgType'] = X['BldgType'].astype(str)
X = pd.get_dummies(X, columns=['BldgType'])

***Processing HouseStyle variable***

In [ ]:
print(X.HouseStyle.unique())

['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']

In [ ]:
sum(X.HouseStyle.isna())

0

In [ ]:
X['HouseStyle'] = X['HouseStyle'].astype(str)
X = pd.get_dummies(X, columns=['HouseStyle'])

***Processing OverallQual variable***

In [ ]:
X.OverallQual

0       7
1       6
2       7
3       7
4       8
       ..
1455    6
1456    6
1457    7
1458    5
1459    5
Name: OverallQual, Length: 1460, dtype: int64

In [ ]:
sum(X.OverallQual.isna())

0

***Processing OverallCond variable***

In [ ]:
X.OverallCond

0       5
1       8
2       5
3       5
4       5
       ..
1455    5
1456    6
1457    9
1458    6
1459    6
Name: OverallCond, Length: 1460, dtype: int64

In [ ]:
sum(X.OverallCond.isna())

0

***Processing YearBuilt variable***

In [ ]:
X.YearBuilt

0       2003
1       1976
2       2001
3       1915
4       2000
        ...
1455    1999
1456    1978
1457    1941
1458    1950
1459    1965
Name: YearBuilt, Length: 1460, dtype: int64

In [ ]:
sum(X.YearBuilt.isna())

0

***Processing YearRemodAdd variable***

In [ ]:
X.YearRemodAdd

0       2003
1       1976
2       2002
3       1970
4       2000
        ...
1455    2000
1456    1988
1457    2006
1458    1996
1459    1965
Name: YearRemodAdd, Length: 1460, dtype: int64

In [ ]:
sum(X.YearRemodAdd.isna())

0

***Processing RoofStyle variable***

In [ ]:
X.RoofStyle

0       Gable
1       Gable
2       Gable
3       Gable
4       Gable
        ...
1455    Gable
1456    Gable
1457    Gable
1458      Hip
1459    Gable
Name: RoofStyle, Length: 1460, dtype: object

In [ ]:
sum(X.RoofStyle.isna())

0

In [ ]:
X.RoofStyle.unique()

array(['Gable', 'Hip', 'Gambrel', 'Mansard', 'Flat', 'Shed'], dtype=object)

In [ ]:
X['RoofStyle'] = X['RoofStyle'].astype(str)
X = pd.get_dummies(X, columns=['RoofStyle'])

***Processing RoofMatl variable***

In [ ]:
X.RoofMatl

0       CompShg
1       CompShg
2       CompShg
3       CompShg
4       CompShg
         ...
1455    CompShg
1456    CompShg
1457    CompShg
1458    CompShg
1459    CompShg
Name: RoofMatl, Length: 1460, dtype: object

In [ ]:
sum(X.RoofMatl.isna())

0

In [ ]:
X.RoofMatl.unique()

array(['CompShg', 'WdShngl', 'Metal', 'WdShake', 'Membran', 'Tar&Grv',
       'Roll', 'ClyTile'], dtype=object)

In [ ]:
X['RoofMatl'] = X['RoofMatl'].astype(str)
X = pd.get_dummies(X, columns=['RoofMatl'])

***Processing Exterior1st variable***

In [ ]:
X.Exterior1st

0       VinylSd
1       MetalSd
2       VinylSd
3       Wd Sdng
4       VinylSd
         ...
1455    VinylSd
1456    Plywood
1457    CemntBd
1458    MetalSd
1459    HdBoard
Name: Exterior1st, Length: 1460, dtype: object

In [ ]:
sum(X.Exterior1st.isna())

0

In [ ]:
X.Exterior1st.unique()

array(['VinylSd', 'MetalSd', 'Wd Sdng', 'HdBoard', 'BrkFace', 'WdShing',
       'CemntBd', 'Plywood', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn',
       'Stone', 'ImStucc', 'CBlock'], dtype=object)

In [ ]:
X['Exterior1st'] = X['Exterior1st'].astype(str)
X = pd.get_dummies(X, columns=['Exterior1st'])

***Processing Exterior2nd variable***

In [ ]:
X.Exterior2nd

0       VinylSd
1       MetalSd
2       VinylSd
3       Wd Shng
4       VinylSd
         ...
1455    VinylSd
1456    Plywood
1457    CmentBd
1458    MetalSd
1459    HdBoard
Name: Exterior2nd, Length: 1460, dtype: object

In [ ]:
sum(X.Exterior2nd.isna())

0

In [ ]:
X.Exterior2nd.unique()

array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object)

In [ ]:
X['Exterior2nd'] = X['Exterior2nd'].astype(str)
X = pd.get_dummies(X, columns=['Exterior2nd'])

***Processing MasVnrType variable***

In [ ]:
X.MasVnrType

0       BrkFace
1          None
2       BrkFace
3          None
4       BrkFace
         ...
1455       None
1456      Stone
1457       None
1458       None
1459       None
Name: MasVnrType, Length: 1460, dtype: object

In [ ]:
sum(X.MasVnrType.isna())

8

In [ ]:
X = X.dropna(subset=['MasVnrType'])

In [ ]:
X.MasVnrType.unique()

array(['BrkFace', 'None', 'Stone', 'BrkCmn'], dtype=object)

In [ ]:
X['MasVnrType'] = X['MasVnrType'].astype(str)
X = pd.get_dummies(X, columns=['MasVnrType'])

In [ ]:
X

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,Foundation,...,Exterior2nd_Plywood,Exterior2nd_Stone,Exterior2nd_Stucco,Exterior2nd_VinylSd,Exterior2nd_Wd Sdng,Exterior2nd_Wd Shng,MasVnrType_BrkCmn,MasVnrType_BrkFace,MasVnrType_None,MasVnrType_Stone
0,65,8450,7,5,2003,2003,196.0,Gd,TA,PConc,...,0,0,0,1,0,0,0,1,0,0
1,80,9600,6,8,1976,1976,0.0,TA,TA,CBlock,...,0,0,0,0,0,0,0,0,1,0
2,68,11250,7,5,2001,2002,162.0,Gd,TA,PConc,...,0,0,0,1,0,0,0,1,0,0
3,60,9550,7,5,1915,1970,0.0,TA,TA,BrkTil,...,0,0,0,0,0,1,0,0,1,0
4,84,14260,8,5,2000,2000,350.0,Gd,TA,PConc,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62,7917,6,5,1999,2000,0.0,TA,TA,PConc,...,0,0,0,1,0,0,0,0,1,0
1456,85,13175,6,6,1978,1988,119.0,TA,TA,CBlock,...,1,0,0,0,0,0,0,0,0,1
1457,66,9042,7,9,1941,2006,0.0,Ex,Gd,Stone,...,0,0,0,0,0,0,0,0,1,0
1458,68,9717,5,6,1950,1996,0.0,TA,TA,CBlock,...,0,0,0,0,0,0,0,0,1,0
1459,75,9937,5,6,1965,1965,0.0,Gd,TA,CBlock,...,0,0,0,0,0,0,0,0,1,0

***Processing MasVnrArea variable***

In [ ]:
X.MasVnrArea

0       196.0
1         0.0
2       162.0
3         0.0
4       350.0
        ...
1455      0.0
1456    119.0
1457      0.0
1458      0.0
1459      0.0
Name: MasVnrArea, Length: 1452, dtype: float64

In [ ]:
X['MasVnrArea'] = X['MasVnrArea'].astype(int)

***Processing ExterQual variable***

In [ ]:
X.ExterQual

0       Gd
1       TA
2       Gd
3       TA
4       Gd
        ..
1455    TA
1456    TA
1457    Ex
1458    TA
1459    Gd
Name: ExterQual, Length: 1452, dtype: object

In [ ]:
sum(X.ExterQual.isna())

0

In [ ]:
X.ExterQual.unique()

array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object)

In [ ]:
X['ExterQual'] = X['ExterQual'].astype(str)
X = pd.get_dummies(X, columns=['ExterQual'])

***Processing ExterCond variable***

In [ ]:
X.ExterCond

0       TA
1       TA
2       TA
3       TA
4       TA
        ..
1455    TA
1456    TA
1457    Gd
1458    TA
1459    TA
Name: ExterCond, Length: 1452, dtype: object

In [ ]:
sum(X.ExterCond.isna())

0

In [ ]:
X.ExterCond.unique()

array(['TA', 'Gd', 'Fa', 'Po', 'Ex'], dtype=object)

In [ ]:
X['ExterCond'] = X['ExterCond'].astype(str)
X = pd.get_dummies(X, columns=['ExterCond'])

In [ ]:
X

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,Foundation,BsmtQual,BsmtCond,...,MasVnrType_Stone,ExterQual_Ex,ExterQual_Fa,ExterQual_Gd,ExterQual_TA,ExterCond_Ex,ExterCond_Fa,ExterCond_Gd,ExterCond_Po,ExterCond_TA
0,65,8450,7,5,2003,2003,196,PConc,Gd,TA,...,0,0,0,1,0,0,0,0,0,1
1,80,9600,6,8,1976,1976,0,CBlock,Gd,TA,...,0,0,0,0,1,0,0,0,0,1
2,68,11250,7,5,2001,2002,162,PConc,Gd,TA,...,0,0,0,1,0,0,0,0,0,1
3,60,9550,7,5,1915,1970,0,BrkTil,TA,Gd,...,0,0,0,0,1,0,0,0,0,1
4,84,14260,8,5,2000,2000,350,PConc,Gd,TA,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62,7917,6,5,1999,2000,0,PConc,Gd,TA,...,0,0,0,0,1,0,0,0,0,1
1456,85,13175,6,6,1978,1988,119,CBlock,Gd,TA,...,1,0,0,0,1,0,0,0,0,1
1457,66,9042,7,9,1941,2006,0,Stone,TA,Gd,...,0,1,0,0,0,0,0,1,0,0
1458,68,9717,5,6,1950,1996,0,CBlock,TA,TA,...,0,0,0,0,1,0,0,0,0,1
1459,75,9937,5,6,1965,1965,0,CBlock,TA,TA,...,0,0,0,1,0,0,0,0,0,1

***Processing Foundation variable***

In [ ]:
X.Foundation

0        PConc
1       CBlock
2        PConc
3       BrkTil
4        PConc
         ...
1455     PConc
1456    CBlock
1457     Stone
1458    CBlock
1459    CBlock
Name: Foundation, Length: 1452, dtype: object

In [ ]:
sum(X.Foundation.isna())

0

In [ ]:
X.Foundation.unique()

array(['PConc', 'CBlock', 'BrkTil', 'Wood', 'Slab', 'Stone'], dtype=object)

In [ ]:
X['Foundation'] = X['Foundation'].astype(str)
X = pd.get_dummies(X, columns=['Foundation'])

***Processing BsmtQual variable***

In [ ]:
X.BsmtQual

0       Gd
1       Gd
2       Gd
3       TA
4       Gd
        ..
1455    Gd
1456    Gd
1457    TA
1458    TA
1459    TA
Name: BsmtQual, Length: 1452, dtype: object

In [ ]:
sum(X.BsmtQual.isna())

37

In [ ]:
X = X.dropna(subset=['BsmtQual'])

In [ ]:
X.BsmtQual.unique()

array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object)

In [ ]:
X['BsmtQual'] = X['BsmtQual'].astype(str)
X = pd.get_dummies(X, columns=['BsmtQual'])

 ***Processing BsmtCond variable***

In [ ]:
X.BsmtCond

0       TA
1       TA
2       TA
3       Gd
4       TA
        ..
1455    TA
1456    TA
1457    Gd
1458    TA
1459    TA
Name: BsmtCond, Length: 1415, dtype: object

In [ ]:
sum(X.BsmtCond.isna())

0

In [ ]:
X.BsmtCond.unique()

array(['TA', 'Gd', 'Fa', 'Po'], dtype=object)

In [ ]:
X['BsmtCond'] = X['BsmtCond'].astype(str)
X = pd.get_dummies(X, columns=['BsmtCond'])

***Processing BsmtExposure variable***

In [ ]:
X.BsmtExposure

0       No
1       Gd
2       Mn
3       No
4       Av
        ..
1455    No
1456    No
1457    No
1458    Mn
1459    No
Name: BsmtExposure, Length: 1415, dtype: object

In [ ]:
X = X.dropna(subset=['BsmtExposure'])

In [ ]:
sum(X.BsmtExposure.isna())

0

In [ ]:
X.BsmtExposure.unique()

array(['No', 'Gd', 'Mn', 'Av'], dtype=object)

In [ ]:
X['BsmtExposure'] = X['BsmtExposure'].astype(str)
X = pd.get_dummies(X, columns=['BsmtExposure'])

***Processing BsmtFinType1 variable***

In [ ]:
X.BsmtFinType1

0       GLQ
1       ALQ
2       GLQ
3       ALQ
4       GLQ
       ...
1455    Unf
1456    ALQ
1457    GLQ
1458    GLQ
1459    BLQ
Name: BsmtFinType1, Length: 1414, dtype: object

In [ ]:
sum(X.BsmtFinType1.isna())

0

In [ ]:
X.BsmtFinType1.unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', 'LwQ'], dtype=object)

In [ ]:
X['BsmtFinType1'] = X['BsmtFinType1'].astype(str)
X = pd.get_dummies(X, columns=['BsmtFinType1'])

***Processing BsmtFinSF1 variable***

In [ ]:
X.BsmtFinSF1

0       706
1       978
2       486
3       216
4       655
       ...
1455      0
1456    790
1457    275
1458     49
1459    830
Name: BsmtFinSF1, Length: 1414, dtype: int64

In [ ]:
sum(X.BsmtFinSF1.isna())

0

***Processing BsmtFinType2 variable***

In [ ]:
X.BsmtFinType2

0       Unf
1       Unf
2       Unf
3       Unf
4       Unf
       ...
1455    Unf
1456    Rec
1457    Unf
1458    Rec
1459    LwQ
Name: BsmtFinType2, Length: 1414, dtype: object

In [ ]:
X = X.dropna(subset=['BsmtFinType2'])

In [ ]:
sum(X.BsmtFinType2.isna())

0

In [ ]:
X.BsmtFinType2.unique()

array(['Unf', 'BLQ', 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [ ]:
X['BsmtFinType2'] = X['BsmtFinType2'].astype(str)
X = pd.get_dummies(X, columns=['BsmtFinType2'])

<ipython-input-121-aea8d9a1ef03>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['BsmtFinType2'] = X['BsmtFinType2'].astype(str)

***Processing BsmtFinSF2 variable***

In [ ]:
X.BsmtFinSF2

0          0
1          0
2          0
3          0
4          0
        ...
1455       0
1456     163
1457       0
1458    1029
1459     290
Name: BsmtFinSF2, Length: 1413, dtype: int64

In [ ]:
sum(X.BsmtFinSF2.isna())

0

***Processing BsmtUnfSF variable***

In [ ]:
X.BsmtUnfSF

0       150
1       284
2       434
3       540
4       490
       ...
1455    953
1456    589
1457    877
1458      0
1459    136
Name: BsmtUnfSF, Length: 1413, dtype: int64

In [ ]:
sum(X.BsmtUnfSF.isna())

0

***Processing TotalBsmtSF variable***

In [ ]:
X.TotalBsmtSF

0        856
1       1262
2        920
3        756
4       1145
        ...
1455     953
1456    1542
1457    1152
1458    1078
1459    1256
Name: TotalBsmtSF, Length: 1413, dtype: int64

In [ ]:
sum(X.TotalBsmtSF.isna())

0

***Processing Heating variable***

In [ ]:
X.Heating

0       GasA
1       GasA
2       GasA
3       GasA
4       GasA
        ...
1455    GasA
1456    GasA
1457    GasA
1458    GasA
1459    GasA
Name: Heating, Length: 1413, dtype: object

In [ ]:
sum(X.Heating.isna())

0

In [ ]:
X.Heating.unique()

array(['GasA', 'GasW', 'Grav', 'OthW'], dtype=object)

In [ ]:
X['Heating'] = X['Heating'].astype(str)
X = pd.get_dummies(X, columns=['Heating'])

***Processing HeatingQC variable***

In [ ]:
X.HeatingQC

0       Ex
1       Ex
2       Ex
3       Gd
4       Ex
        ..
1455    Ex
1456    TA
1457    Ex
1458    Gd
1459    Gd
Name: HeatingQC, Length: 1413, dtype: object

In [ ]:
sum(X.HeatingQC.isna())

0

In [ ]:
X['HeatingQC'] = X['HeatingQC'].astype(str)
X = pd.get_dummies(X, columns=['HeatingQC'])

***Processing CentralAir variable***

In [ ]:
X.CentralAir

0       Y
1       Y
2       Y
3       Y
4       Y
       ..
1455    Y
1456    Y
1457    Y
1458    Y
1459    Y
Name: CentralAir, Length: 1413, dtype: object

In [ ]:
X.CentralAir.unique()

array(['Y', 'N'], dtype=object)

In [ ]:
sum(X.CentralAir.isna())

0

In [ ]:
X['CentralAir'] = X['CentralAir'].astype(str)
X = pd.get_dummies(X, columns=['CentralAir'])

***Processing Electrical variable***

In [ ]:
X.Electrical

0       SBrkr
1       SBrkr
2       SBrkr
3       SBrkr
4       SBrkr
        ...
1455    SBrkr
1456    SBrkr
1457    SBrkr
1458    FuseA
1459    SBrkr
Name: Electrical, Length: 1413, dtype: object

In [ ]:
X.Electrical.unique()

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [ ]:
X = X.dropna(subset=['Electrical'])

In [ ]:
sum(X.Electrical.isna())

0

In [ ]:
X['Electrical'] = X['Electrical'].astype(str)
X = pd.get_dummies(X, columns=['Electrical'])

***Processing 1stFlrSF variable***

In [ ]:
X.rename(columns = {'1stFlrSF':'FirstFlrSF'}, inplace = True)

In [ ]:
X.FirstFlrSF

0        856
1       1262
2        920
3        961
4       1145
        ...
1455     953
1456    2073
1457    1188
1458    1078
1459    1256
Name: FirstFlrSF, Length: 1412, dtype: int64

In [ ]:
sum(X.FirstFlrSF.isna())

0

***Processing 2ndFlrSF variable***

In [ ]:
X.rename(columns = {'2ndFlrSF':'SecondFlrSF'}, inplace = True)

In [ ]:
X.SecondFlrSF

0        854
1          0
2        866
3        756
4       1053
        ...
1455     694
1456       0
1457    1152
1458       0
1459       0
Name: SecondFlrSF, Length: 1412, dtype: int64

In [ ]:
sum(X.SecondFlrSF.isna())

0

***Processing LowQualFinSF variable***

In [ ]:
X.LowQualFinSF

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: LowQualFinSF, Length: 1412, dtype: int64

In [ ]:
sum(X.LowQualFinSF.isna())

0

***Processing GrLivArea variable***

In [ ]:
X.GrLivArea

0       1710
1       1262
2       1786
3       1717
4       2198
        ...
1455    1647
1456    2073
1457    2340
1458    1078
1459    1256
Name: GrLivArea, Length: 1412, dtype: int64

In [ ]:
sum(X.GrLivArea.isna())

0

***Processing BsmtFullBath variable***

In [ ]:
X.BsmtFullBath

0       1
1       0
2       1
3       1
4       1
       ..
1455    0
1456    1
1457    0
1458    1
1459    1
Name: BsmtFullBath, Length: 1412, dtype: int64

In [ ]:
sum(X.BsmtFullBath.isna())

0

In [ ]:
X.BsmtFullBath.unique()

array([1, 0, 2, 3])

In [ ]:
X['BsmtFullBath'] = X['BsmtFullBath'].astype(str)
X = pd.get_dummies(X, columns=['BsmtFullBath'])

***Processing FullBath variable***

In [ ]:
X.FullBath

0       2
1       2
2       2
3       1
4       2
       ..
1455    2
1456    2
1457    2
1458    1
1459    1
Name: FullBath, Length: 1412, dtype: int64

In [ ]:
sum(X.FullBath.isna())

0

In [ ]:
X.FullBath.unique()

array([2, 1, 3, 0])

In [ ]:
X['FullBath'] = X['FullBath'].astype(str)
X = pd.get_dummies(X, columns=['FullBath'])

***Processing BsmtHalfBath variable***

In [ ]:
X.BsmtHalfBath

0       0
1       1
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: BsmtHalfBath, Length: 1412, dtype: int64

In [ ]:
sum(X.BsmtHalfBath.isna())

0

In [ ]:
X.BsmtHalfBath.unique()

array([0, 1, 2])

In [ ]:
X['BsmtHalfBath'] = X['BsmtHalfBath'].astype(str)
X = pd.get_dummies(X, columns=['BsmtHalfBath'])

***Processing HalfBath variable***

In [ ]:
X.HalfBath

0       1
1       0
2       1
3       0
4       1
       ..
1455    1
1456    0
1457    0
1458    0
1459    1
Name: HalfBath, Length: 1412, dtype: int64

In [ ]:
sum(X.HalfBath.isna())

0

In [ ]:
X.HalfBath.unique()

array([1, 0, 2])

In [ ]:
X['HalfBath'] = X['HalfBath'].astype(str)
X = pd.get_dummies(X, columns=['HalfBath'])

***Processing BedroomAbvGr variable***

In [ ]:
X.BedroomAbvGr

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1412, dtype: int64

In [ ]:
sum(X.BedroomAbvGr.isna())

0

In [ ]:
X.BedroomAbvGr.unique()

array([3, 4, 1, 2, 0, 5, 6, 8])

In [ ]:
X['BedroomAbvGr'] = X['BedroomAbvGr'].astype(str)
X = pd.get_dummies(X, columns=['BedroomAbvGr'])

***Processing KitchenAbvGr variable***

In [ ]:
X.KitchenAbvGr

0       1
1       1
2       1
3       1
4       1
       ..
1455    1
1456    1
1457    1
1458    1
1459    1
Name: KitchenAbvGr, Length: 1412, dtype: int64

In [ ]:
sum(X.KitchenAbvGr.isna())

0

In [ ]:
X.KitchenAbvGr.unique()

array([1, 2, 3, 0])

In [ ]:
X['KitchenAbvGr'] = X['KitchenAbvGr'].astype(str)
X = pd.get_dummies(X, columns=['KitchenAbvGr'])

***Processing KitchenQual variable***

In [ ]:
X.KitchenQual

0       Gd
1       TA
2       Gd
3       Gd
4       Gd
        ..
1455    TA
1456    TA
1457    Gd
1458    Gd
1459    TA
Name: KitchenQual, Length: 1412, dtype: object

In [ ]:
sum(X.KitchenQual.isna())

0

In [ ]:
X.KitchenQual.unique()

array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object)

In [ ]:
X['KitchenQual'] = X['KitchenQual'].astype(str)
X = pd.get_dummies(X, columns=['KitchenQual'])

In [ ]:
X

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,BedroomAbvGr_6,BedroomAbvGr_8,KitchenAbvGr_0,KitchenAbvGr_1,KitchenAbvGr_2,KitchenAbvGr_3,KitchenQual_Ex,KitchenQual_Fa,KitchenQual_Gd,KitchenQual_TA
0,65,8450,7,5,2003,2003,196,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,80,9600,6,8,1976,1976,0,978,0,284,...,0,0,0,1,0,0,0,0,0,1
2,68,11250,7,5,2001,2002,162,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,60,9550,7,5,1915,1970,0,216,0,540,...,0,0,0,1,0,0,0,0,1,0
4,84,14260,8,5,2000,2000,350,655,0,490,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62,7917,6,5,1999,2000,0,0,0,953,...,0,0,0,1,0,0,0,0,0,1
1456,85,13175,6,6,1978,1988,119,790,163,589,...,0,0,0,1,0,0,0,0,0,1
1457,66,9042,7,9,1941,2006,0,275,0,877,...,0,0,0,1,0,0,0,0,1,0
1458,68,9717,5,6,1950,1996,0,49,1029,0,...,0,0,0,1,0,0,0,0,1,0
1459,75,9937,5,6,1965,1965,0,830,290,136,...,0,0,0,1,0,0,0,0,0,1

***Processing TotRmsAbvGrd variable***

In [ ]:
X.TotRmsAbvGrd

0       8
1       6
2       6
3       7
4       9
       ..
1455    7
1456    7
1457    9
1458    5
1459    6
Name: TotRmsAbvGrd, Length: 1412, dtype: int64

In [ ]:
sum(X.TotRmsAbvGrd.isna())

0

***Processing Functional variable***

In [ ]:
X.Functional

0        Typ
1        Typ
2        Typ
3        Typ
4        Typ
        ...
1455     Typ
1456    Min1
1457     Typ
1458     Typ
1459     Typ
Name: Functional, Length: 1412, dtype: object

In [ ]:
sum(X.Functional.isna())

0

In [ ]:
X.Functional.unique()

array(['Typ', 'Min1', 'Maj1', 'Min2', 'Mod', 'Maj2', 'Sev'], dtype=object)

In [ ]:
X['Functional'] = X['Functional'].astype(str)
X = pd.get_dummies(X, columns=['Functional'])

***Processing Fireplaces variable***

In [ ]:
X.Fireplaces

0       0
1       1
2       1
3       1
4       1
       ..
1455    1
1456    2
1457    2
1458    0
1459    0
Name: Fireplaces, Length: 1412, dtype: int64

In [ ]:
sum(X.Fireplaces.isna())

0

In [ ]:
X.Fireplaces.unique()

array([0, 1, 2, 3])

In [ ]:
X['Fireplaces'] = X['Fireplaces'].astype(str)
X = pd.get_dummies(X, columns=['Fireplaces'])

***Processing FireplaceQu variable***

In [ ]:
sum(X.FireplaceQu.isna())

657

In [ ]:
X.FireplaceQu.unique()

array([nan, 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [ ]:
X.FireplaceQu.fillna('None', inplace=True)

In [ ]:
X.FireplaceQu

0       None
1         TA
2         TA
3         Gd
4         TA
        ...
1455      TA
1456      TA
1457      Gd
1458    None
1459    None
Name: FireplaceQu, Length: 1412, dtype: object

In [ ]:
X['FireplaceQu'] = X['FireplaceQu'].astype(str)
X = pd.get_dummies(X, columns=['FireplaceQu'])

***Processing GarageType variable***

In [ ]:
X.GarageType

0       Attchd
1       Attchd
2       Attchd
3       Detchd
4       Attchd
         ...
1455    Attchd
1456    Attchd
1457    Attchd
1458    Attchd
1459    Attchd
Name: GarageType, Length: 1412, dtype: object

In [ ]:
sum(X.GarageType.isna())

74

In [ ]:
X.GarageType.unique()

array(['Attchd', 'Detchd', 'BuiltIn', nan, 'CarPort', 'Basment', '2Types'],
      dtype=object)

In [ ]:
X.GarageType.fillna('None', inplace=True)

In [ ]:
X['GarageType'] = X['GarageType'].astype(str)
X = pd.get_dummies(X, columns=['GarageType'])

***Processing GarageYrBlt variable***

In [ ]:
X.GarageYrBlt

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1412, dtype: float64

In [ ]:
sum(X.GarageYrBlt.isna())

74

In [ ]:
X.GarageYrBlt = X.GarageYrBlt.fillna(X.GarageYrBlt.mean())
X.GarageYrBlt

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1412, dtype: float64

In [ ]:
X['GarageYrBlt'] = X['GarageYrBlt'].astype(int)

***Processing GarageFinish variable***

In [ ]:
X.GarageFinish

0       RFn
1       RFn
2       RFn
3       Unf
4       RFn
       ...
1455    RFn
1456    Unf
1457    RFn
1458    Unf
1459    Fin
Name: GarageFinish, Length: 1412, dtype: object

In [ ]:
sum(X.GarageFinish.isna())

74

In [ ]:
X.GarageFinish.unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [ ]:
X.GarageFinish.fillna('None', inplace=True)

In [ ]:
X['GarageFinish'] = X['GarageFinish'].astype(str)
X = pd.get_dummies(X, columns=['GarageFinish'])

***Processing GarageCars variable***

In [ ]:
X.GarageCars

0       2
1       2
2       2
3       3
4       3
       ..
1455    2
1456    2
1457    1
1458    1
1459    1
Name: GarageCars, Length: 1412, dtype: int64

In [ ]:
sum(X.GarageCars.isna())

0

***Processing GarageArea variable***

In [ ]:
X.GarageArea

0       548
1       460
2       608
3       642
4       836
       ...
1455    460
1456    500
1457    252
1458    240
1459    276
Name: GarageArea, Length: 1412, dtype: int64

In [ ]:
sum(X.GarageArea.isna())

0

***Processing GarageQual variable***

In [ ]:
X.GarageQual

0       TA
1       TA
2       TA
3       TA
4       TA
        ..
1455    TA
1456    TA
1457    TA
1458    TA
1459    TA
Name: GarageQual, Length: 1412, dtype: object

In [ ]:
sum(X.GarageQual.isna())

74

In [ ]:
X.GarageQual.unique()

array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object)

In [ ]:
X.GarageQual.fillna('None', inplace=True)

In [ ]:
X['GarageQual'] = X['GarageQual'].astype(str)
X = pd.get_dummies(X, columns=['GarageQual'])

***Processing GarageCond variable***

In [ ]:
X.GarageCond

0       TA
1       TA
2       TA
3       TA
4       TA
        ..
1455    TA
1456    TA
1457    TA
1458    TA
1459    TA
Name: GarageCond, Length: 1412, dtype: object

In [ ]:
sum(X.GarageCond.isna())

74

In [ ]:
X.GarageCond.unique()

array(['TA', 'Fa', 'Gd', nan, 'Po', 'Ex'], dtype=object)

In [ ]:
X.GarageCond.fillna('None', inplace=True)

In [ ]:
X['GarageCond'] = X['GarageCond'].astype(str)
X = pd.get_dummies(X, columns=['GarageCond'])

***Processing PavedDrive variable***

In [ ]:
X.PavedDrive

0       Y
1       Y
2       Y
3       Y
4       Y
       ..
1455    Y
1456    Y
1457    Y
1458    Y
1459    Y
Name: PavedDrive, Length: 1412, dtype: object

In [ ]:
sum(X.PavedDrive.isna())

0

In [ ]:
X.PavedDrive.unique()

array(['Y', 'N', 'P'], dtype=object)

In [ ]:
X['PavedDrive'] = X['PavedDrive'].astype(str)
X = pd.get_dummies(X, columns=['PavedDrive'])

***Processing WoodDeckSF variable***

In [ ]:
X.WoodDeckSF

0         0
1       298
2         0
3         0
4       192
       ...
1455      0
1456    349
1457      0
1458    366
1459    736
Name: WoodDeckSF, Length: 1412, dtype: int64

In [ ]:
sum(X.WoodDeckSF.isna())

0

***Processing OpenPorchSF variable***

In [ ]:
X.OpenPorchSF

0       61
1        0
2       42
3       35
4       84
        ..
1455    40
1456     0
1457    60
1458     0
1459    68
Name: OpenPorchSF, Length: 1412, dtype: int64

In [ ]:
sum(X.OpenPorchSF.isna())

0

***Processing EnclosedPorch variable***

In [ ]:
X.EnclosedPorch

0         0
1         0
2         0
3       272
4         0
       ...
1455      0
1456      0
1457      0
1458    112
1459      0
Name: EnclosedPorch, Length: 1412, dtype: int64

In [ ]:
sum(X.EnclosedPorch.isna())

0

***Processing 3SsnPorch variable***

In [ ]:
X.rename(columns = {'3SsnPorch':'ThreeSsnPorch'}, inplace = True)

In [ ]:
X.ThreeSsnPorch

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: ThreeSsnPorch, Length: 1412, dtype: int64

In [ ]:
sum(X.ThreeSsnPorch.isna())

0

***Processing ScreenPorch variable***

In [ ]:
X.ScreenPorch

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: ScreenPorch, Length: 1412, dtype: int64

In [ ]:
sum(X.ScreenPorch.isna())

0

***Processing PoolArea variable***

In [ ]:
X.PoolArea

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: PoolArea, Length: 1412, dtype: int64

In [ ]:
sum(X.PoolArea.isna())

0

***Processing PoolQC variable***

In [ ]:
X.PoolQC

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1455    NaN
1456    NaN
1457    NaN
1458    NaN
1459    NaN
Name: PoolQC, Length: 1412, dtype: object

In [ ]:
X.PoolQC.fillna('None', inplace=True)

In [ ]:
X.PoolQC.unique()

array(['None', 'Ex', 'Fa', 'Gd'], dtype=object)

In [ ]:
X['PoolQC'] = X['PoolQC'].astype(str)
X = pd.get_dummies(X, columns=['PoolQC'])

***Processing Fence variable***

In [ ]:
X.Fence

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
1455      NaN
1456    MnPrv
1457    GdPrv
1458      NaN
1459      NaN
Name: Fence, Length: 1412, dtype: object

In [ ]:
sum(X.Fence.isna())

1135

In [ ]:
X.Fence.fillna('None', inplace=True)

In [ ]:
X.Fence.unique()

array(['None', 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object)

In [ ]:
X['Fence'] = X['Fence'].astype(str)
X = pd.get_dummies(X, columns=['Fence'])

***Processing MiscFeature variable***

In [ ]:
X.MiscFeature

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
1455     NaN
1456     NaN
1457    Shed
1458     NaN
1459     NaN
Name: MiscFeature, Length: 1412, dtype: object

In [ ]:
sum(X.MiscFeature.isna())

1361

In [ ]:
X.MiscFeature.unique()

array([nan, 'Shed', 'Gar2', 'Othr', 'TenC'], dtype=object)

In [ ]:
X.MiscFeature.fillna('None', inplace=True)

In [ ]:
X['MiscFeature'] = X['MiscFeature'].astype(str)
X = pd.get_dummies(X, columns=['MiscFeature'])

***Processing MiscVal variable***

In [ ]:
X.MiscVal

0          0
1          0
2          0
3          0
4          0
        ...
1455       0
1456       0
1457    2500
1458       0
1459       0
Name: MiscVal, Length: 1412, dtype: int64

In [ ]:
sum(X.MiscVal.isna())

0

***Processing MoSold variable***

In [ ]:
X.MoSold

0        2
1        5
2        9
3        2
4       12
        ..
1455     8
1456     2
1457     5
1458     4
1459     6
Name: MoSold, Length: 1412, dtype: int64

In [ ]:
sum(X.MoSold.isna())

0

***Processing YrSold variable***

In [ ]:
X.YrSold

0       2008
1       2007
2       2008
3       2006
4       2008
        ...
1455    2007
1456    2010
1457    2010
1458    2010
1459    2008
Name: YrSold, Length: 1412, dtype: int64

In [ ]:
sum(X.YrSold.isna())

0

***Processing SaleType variable***

In [ ]:
X.SaleType

0       WD
1       WD
2       WD
3       WD
4       WD
        ..
1455    WD
1456    WD
1457    WD
1458    WD
1459    WD
Name: SaleType, Length: 1412, dtype: object

In [ ]:
sum(X.SaleType.isna())

0

In [ ]:
X.SaleType.unique()

array(['WD', 'New', 'COD', 'ConLD', 'ConLI', 'CWD', 'ConLw', 'Con', 'Oth'],
      dtype=object)

In [ ]:
X['SaleType'] = X['SaleType'].astype(str)
X = pd.get_dummies(X, columns=['SaleType'])

***Processing SaleCondition variable***

In [ ]:
X.SaleCondition

0        Normal
1        Normal
2        Normal
3       Abnorml
4        Normal
         ...
1455     Normal
1456     Normal
1457     Normal
1458     Normal
1459     Normal
Name: SaleCondition, Length: 1412, dtype: object

In [ ]:
sum(X.SaleCondition.isna())

0

In [ ]:
X.SaleCondition.unique()

array(['Normal', 'Abnorml', 'Partial', 'Family', 'Alloca', 'AdjLand'],
      dtype=object)

In [ ]:
X['SaleCondition'] = X['SaleCondition'].astype(str)
X = pd.get_dummies(X, columns=['SaleCondition'])

In [ ]:
dataset = X

In [ ]:
y = dataset['SalePrice']
X = dataset.drop(['SalePrice'], axis=1)

In [ ]:
X

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,65,8450,7,5,2003,2003,196,706,0,150,...,0,0,0,1,0,0,0,0,1,0
1,80,9600,6,8,1976,1976,0,978,0,284,...,0,0,0,1,0,0,0,0,1,0
2,68,11250,7,5,2001,2002,162,486,0,434,...,0,0,0,1,0,0,0,0,1,0
3,60,9550,7,5,1915,1970,0,216,0,540,...,0,0,0,1,1,0,0,0,0,0
4,84,14260,8,5,2000,2000,350,655,0,490,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62,7917,6,5,1999,2000,0,0,0,953,...,0,0,0,1,0,0,0,0,1,0
1456,85,13175,6,6,1978,1988,119,790,163,589,...,0,0,0,1,0,0,0,0,1,0
1457,66,9042,7,9,1941,2006,0,275,0,877,...,0,0,0,1,0,0,0,0,1,0
1458,68,9717,5,6,1950,1996,0,49,1029,0,...,0,0,0,1,0,0,0,0,1,0
1459,75,9937,5,6,1965,1965,0,830,290,136,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
print(y)

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1412, dtype: int64

![image.png]()

Implementing Multiple Regression

In [ ]:
X = X.to_numpy()
y = y.to_numpy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 80559.61  87000.  ]
 [201009.44 205000.  ]
 [175774.55 178000.  ]
 [145674.05 135000.  ]
 [152824.97 143000.  ]
 [227214.51 224000.  ]
 [342542.01 326000.  ]
 [203941.52 208300.  ]
 [119594.59 104000.  ]
 [168796.14 165000.  ]
 [122202.42  90350.  ]
 [184209.51 197900.  ]
 [219838.21 232000.  ]
 [154297.81 147500.  ]
 [316862.57 318000.  ]
 [174068.22 181000.  ]
 [211386.22 215000.  ]
 [121919.97 132000.  ]
 [140625.45  84500.  ]
 [189313.14 180000.  ]
 [146706.78 143000.  ]
 [125118.87 132500.  ]
 [194159.39 178000.  ]
 [143840.12 139500.  ]
 [146148.1   89471.  ]
 [288697.07 295493.  ]
 [142993.92 145000.  ]
 [117825.84 114504.  ]
 [247936.45 190000.  ]
 [138516.75 155000.  ]
 [198159.59 172500.  ]
 [ 86222.76  85500.  ]
 [202595.87 190000.  ]
 [ 78137.47 136905.  ]
 [153993.97 112000.  ]
 [ 88375.21  87000.  ]
 [137807.26 143000.  ]
 [139935.54 175000.  ]
 [136805.58 127500.  ]
 [211231.6  179900.  ]
 [114775.58 123000.  ]
 [193732.97 175000.  ]
 [323466.78 276000.  ]
 [105711.49 115000.  ]
 [177219.62 180000.  ]
 [132786.93 131400.  ]
 [159604.08 159000.  ]
 [114939.82  82500.  ]
 [247357.56 250000.  ]
 [215466.66 216000.  ]
 [283912.43 251000.  ]
 [155099.01 147000.  ]
 [158039.05 134900.  ]
 [278954.22 258000.  ]
 [294852.67 293077.  ]
 [240515.04 212000.  ]
 [133294.4  139000.  ]
 [167502.66 175000.  ]
 [140745.41 145000.  ]
 [227892.81 225000.  ]
 [127958.66 132500.  ]
 [245468.79 194201.  ]
 [176814.08 164500.  ]
 [350358.34 309000.  ]
 [127181.2  128500.  ]
 [287656.76 255500.  ]
 [163271.93 165500.  ]
 [105629.89  92000.  ]
 [132439.89 147000.  ]
 [108231.54 103000.  ]
 [143930.01 139000.  ]
 [237316.26 277000.  ]
 [170158.28 161500.  ]
 [ 75493.59 116050.  ]
 [164991.23 177500.  ]
 [118921.09  55993.  ]
 [105618.75 122000.  ]
 [170959.25 191000.  ]
 [164579.46 165600.  ]
 [256041.87 260000.  ]
 [139901.76 143000.  ]
 [197618.14 190000.  ]
 [354739.01 383970.  ]
 [148436.72 108959.  ]
 [136315.63 135000.  ]
 [241192.25 249700.  ]
 [105760.68 103600.  ]
 [190608.87 196500.  ]
 [183634.86 190000.  ]
 [208981.78 250000.  ]
 [186816.52 192000.  ]
 [ 78998.91  88000.  ]
 [254250.37 250000.  ]
 [140709.47 159950.  ]
 [220719.95 200000.  ]
 [221174.93 225000.  ]
 [ 99732.73 130000.  ]
 [207101.6  211000.  ]
 [127685.16 152000.  ]
 [196789.83 179540.  ]
 [139904.1  147000.  ]
 [196015.86 193000.  ]
 [ 91947.99 105000.  ]
 [111231.   105000.  ]
 [134897.47 126000.  ]
 [171244.72 151400.  ]
 [130233.5  137000.  ]
 [133752.26 148000.  ]
 [307671.43 266000.  ]
 [159101.79 171900.  ]
 [185283.25 170000.  ]
 [132162.03 145000.  ]
 [134583.86 120500.  ]
 [245742.69 242000.  ]
 [205671.75 199900.  ]
 [160546.25 149900.  ]
 [ 92487.73  91300.  ]
 [148868.21 149900.  ]
 [165433.88 180000.  ]
 [164586.33 145000.  ]
 [132726.9  120500.  ]
 [304280.22 250000.  ]
 [216882.22 207500.  ]
 [337717.96 318000.  ]
 [257315.46 262500.  ]
 [281728.69 269500.  ]
 [366683.99 423000.  ]
 [155708.46 143500.  ]
 [117468.55 130000.  ]
 [297702.26 297000.  ]
 [235034.07 219210.  ]
 [197842.75 153337.  ]
 [390675.56 342643.  ]
 [153816.54 138000.  ]
 [104139.5   91500.  ]
 [171362.61 171000.  ]
 [370547.11 325300.  ]
 [170683.78 178000.  ]
 [131710.31 139000.  ]
 [221369.62 194000.  ]
 [210420.63 200000.  ]
 [154892.33 160000.  ]
 [125792.6  139000.  ]
 [226169.49 235000.  ]
 [105879.7  119500.  ]
 [158884.12 180500.  ]
 [238879.09 325000.  ]
 [142196.28 127000.  ]
 [ 37100.39  61000.  ]
 [220637.01 214000.  ]
 [148867.97 141000.  ]
 [151378.59 160000.  ]
 [131198.95 134500.  ]
 [279436.85 269790.  ]
 [192647.48 205000.  ]
 [123743.36 133000.  ]
 [219382.7  200000.  ]
 [259414.64 248000.  ]
 [288970.06 228950.  ]
 [198273.15 170000.  ]
 [250335.53 271000.  ]
 [427851.7  446261.  ]
 [233278.75 255000.  ]
 [206081.65 223500.  ]
 [216665.33 181500.  ]
 [ 90059.02 118500.  ]
 [173304.55 146000.  ]
 [145967.28 169900.  ]
 [ 97773.76  87000.  ]
 [406743.17 415298.  ]
 [228786.35 236000.  ]
 [175290.21 158000.  ]
 [134455.89 140000.  ]
 [244740.56 315000.  ]
 [384812.31 337500.  ]
 [108131.07 108000.  ]
 [ 93147.79  88000.  ]
 [106155.75 107900.  ]
 [126439.59 130000.  ]
 [ 55846.17  52000.  ]
 [381267.68 253293.  ]
 [145259.47 140000.  ]
 [269233.93 238000.  ]
 [249804.14 248900.  ]
 [114568.53  91500.  ]
 [384889.61 381000.  ]
 [207633.76 214000.  ]
 [118728.41 143000.  ]
 [221676.23 222500.  ]
 [134565.9  151000.  ]
 [151209.69 157000.  ]
 [ 86692.8  107000.  ]
 [195503.52 191000.  ]
 [130917.43 132000.  ]
 [244185.55 233170.  ]
 [175014.76 175000.  ]
 [185946.39 185900.  ]
 [142223.14 139400.  ]
 [200173.12 207500.  ]
 [111001.77  89500.  ]
 [141907.85 155000.  ]
 [139781.09 155000.  ]
 [121618.48 110000.  ]
 [219844.74 217000.  ]
 [342675.16 369900.  ]
 [167639.06 149500.  ]
 [ 90753.27 118000.  ]
 [191778.88 201000.  ]
 [146101.82 145250.  ]
 [184691.14 159500.  ]
 [129639.84 119000.  ]
 [148320.07 148500.  ]
 [216113.03 210000.  ]
 [142177.31 128200.  ]
 [396429.38 361919.  ]
 [224246.6  245000.  ]
 [133936.97 145000.  ]
 [175153.47 197500.  ]
 [203555.34 201000.  ]
 [185099.33 173000.  ]
 [114569.33 125000.  ]
 [ 99882.86  98000.  ]
 [190325.71 179000.  ]
 [114217.74 110500.  ]
 [144747.24 135000.  ]
 [130273.4  140000.  ]
 [266315.19 227875.  ]
 [180342.92 169000.  ]
 [150573.12 127000.  ]
 [204552.18 185000.  ]
 [173122.05 175900.  ]
 [238876.13 224500.  ]
 [156965.21 162000.  ]
 [145336.42 144000.  ]
 [242939.01 230000.  ]
 [128124.54 127000.  ]
 [252329.41 282922.  ]
 [ 94366.01  99900.  ]
 [190779.03 176000.  ]
 [157465.27 125000.  ]
 [153010.47 137500.  ]
 [300284.66 320000.  ]
 [108545.1  139900.  ]
 [328454.8  325000.  ]
 [110223.57 109000.  ]
 [513020.63 745000.  ]
 [223858.95 222000.  ]
 [104352.67 123000.  ]
 [ 86075.03  83500.  ]
 [143601.82 144000.  ]
 [200177.21 192000.  ]
 [131538.44 142000.  ]
 [ 87573.18 105000.  ]
 [388877.14 412500.  ]
 [ 81089.96  40000.  ]
 [497903.8  438780.  ]
 [145984.99 129900.  ]
 [118227.99 171000.  ]
 [140873.72 125500.  ]
 [311509.74 222000.  ]
 [379013.13 380000.  ]
 [105014.38 110000.  ]
 [178673.68 176000.  ]
 [178883.14 210000.  ]
 [182097.75 196500.  ]
 [ 64481.51  91000.  ]
 [330058.83 260000.  ]
 [ 55242.04  34900.  ]
 [143163.63 119000.  ]
 [187110.89 172785.  ]
 [170897.47 190000.  ]
 [229838.24 229000.  ]
 [136759.87 134000.  ]
 [202563.81 208900.  ]
 [113018.68 111250.  ]
 [161119.94 168000.  ]
 [112285.25 126175.  ]
 [162145.97 129000.  ]
 [110428.82 134500.  ]
 [210067.19 167900.  ]
 [152969.9  132500.  ]
 [233716.34 196000.  ]
 [  7371.71  95000.  ]]

In [ ]:
dataset.to_csv('HP_dataset.csv', index = False)

After Model Building from R Studio

![image.png]()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
Rout_HP_dataset = pd.read_csv('Rout_HP.csv')

In [ ]:
Rout_HP_dataset

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,FirstFlrSF,SecondFlrSF,TotRmsAbvGrd,...,Neighborhood_StoneBr,Condition1_RRAe,Condition2_PosN,Exterior1st_BrkFace,ExterQual_Ex,BsmtQual_Ex,BsmtExposure_Gd,FullBath_1,FullBath_2,SalePrice
0,8450,7,5,2003,2003,196,706,856,854,8,...,0,0,0,0,0,0,0,0,1,208500
1,9600,6,8,1976,1976,0,978,1262,0,6,...,0,0,0,0,0,0,1,0,1,181500
2,11250,7,5,2001,2002,162,486,920,866,6,...,0,0,0,0,0,0,0,0,1,223500
3,9550,7,5,1915,1970,0,216,961,756,7,...,0,0,0,0,0,0,0,1,0,140000
4,14260,8,5,2000,2000,350,655,1145,1053,9,...,0,0,0,0,0,0,0,0,1,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,7917,6,5,1999,2000,0,0,953,694,7,...,0,0,0,0,0,0,0,0,1,175000
1408,13175,6,6,1978,1988,119,790,2073,0,7,...,0,0,0,0,0,0,0,0,1,210000
1409,9042,7,9,1941,2006,0,275,1188,1152,9,...,0,0,0,0,1,0,0,0,1,266500
1410,9717,5,6,1950,1996,0,49,1078,0,5,...,0,0,0,0,0,0,0,1,0,142125
1411,9937,5,6,1965,1965,0,830,1256,0,6,...,0,0,0,0,0,0,0,1,0,147500

In [ ]:
y = Rout_HP_dataset['SalePrice']
X = Rout_HP_dataset.drop(['SalePrice'], axis=1)
X = X.to_numpy()
y = y.to_numpy()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 79504.66  87000.  ]
 [205488.01 205000.  ]
 [188005.18 178000.  ]
 [172539.44 135000.  ]
 [151996.22 143000.  ]
 [200224.84 224000.  ]
 [339103.5  326000.  ]
 [171594.19 208300.  ]
 [123972.44 104000.  ]
 [191514.68 165000.  ]
 [ 98374.31  90350.  ]
 [177699.85 197900.  ]
 [224769.72 232000.  ]
 [124517.18 147500.  ]
 [323290.27 318000.  ]
 [199531.28 181000.  ]
 [197772.3  215000.  ]
 [116804.8  132000.  ]
 [125826.38  84500.  ]
 [205989.82 180000.  ]
 [156115.47 143000.  ]
 [137816.26 132500.  ]
 [236193.86 178000.  ]
 [149758.8  139500.  ]
 [136185.64  89471.  ]
 [309099.7  295493.  ]
 [168812.9  145000.  ]
 [124779.71 114504.  ]
 [264535.86 190000.  ]
 [171162.41 155000.  ]
 [220774.24 172500.  ]
 [ 76797.45  85500.  ]
 [176103.18 190000.  ]
 [165489.98 136905.  ]
 [166951.27 112000.  ]
 [ 97837.11  87000.  ]
 [144018.99 143000.  ]
 [169037.35 175000.  ]
 [147789.86 127500.  ]
 [250503.86 179900.  ]
 [119414.01 123000.  ]
 [182074.82 175000.  ]
 [320826.36 276000.  ]
 [101104.72 115000.  ]
 [193790.31 180000.  ]
 [140611.95 131400.  ]
 [179780.69 159000.  ]
 [ 81636.82  82500.  ]
 [236167.45 250000.  ]
 [204009.68 216000.  ]
 [264149.55 251000.  ]
 [148717.14 147000.  ]
 [160021.34 134900.  ]
 [305614.03 258000.  ]
 [270585.88 293077.  ]
 [198949.88 212000.  ]
 [121943.98 139000.  ]
 [151000.89 175000.  ]
 [124096.69 145000.  ]
 [234112.99 225000.  ]
 [143860.9  132500.  ]
 [285504.17 194201.  ]
 [156576.92 164500.  ]
 [338738.34 309000.  ]
 [131264.12 128500.  ]
 [288941.14 255500.  ]
 [187959.1  165500.  ]
 [ 96176.6   92000.  ]
 [128253.39 147000.  ]
 [ 89770.18 103000.  ]
 [138577.73 139000.  ]
 [241281.09 277000.  ]
 [185497.1  161500.  ]
 [ 88898.56 116050.  ]
 [163608.21 177500.  ]
 [ 92113.99  55993.  ]
 [146050.78 122000.  ]
 [198744.69 191000.  ]
 [168214.18 165600.  ]
 [226423.22 260000.  ]
 [134710.25 143000.  ]
 [184416.41 190000.  ]
 [318904.14 383970.  ]
 [166708.97 108959.  ]
 [127868.08 135000.  ]
 [237798.57 249700.  ]
 [110710.86 103600.  ]
 [203555.25 196500.  ]
 [174768.16 190000.  ]
 [229567.13 250000.  ]
 [197918.43 192000.  ]
 [ 99885.73  88000.  ]
 [305777.53 250000.  ]
 [146636.91 159950.  ]
 [200561.28 200000.  ]
 [197859.65 225000.  ]
 [130491.46 130000.  ]
 [190809.5  211000.  ]
 [135636.76 152000.  ]
 [194607.25 179540.  ]
 [149033.27 147000.  ]
 [187908.12 193000.  ]
 [ 80108.01 105000.  ]
 [114680.1  105000.  ]
 [137478.06 126000.  ]
 [208550.46 151400.  ]
 [133468.19 137000.  ]
 [139084.63 148000.  ]
 [325683.57 266000.  ]
 [177343.26 171900.  ]
 [176294.72 170000.  ]
 [153327.16 145000.  ]
 [146174.65 120500.  ]
 [252517.64 242000.  ]
 [216412.4  199900.  ]
 [145300.43 149900.  ]
 [106085.31  91300.  ]
 [145716.36 149900.  ]
 [174441.97 180000.  ]
 [153124.15 145000.  ]
 [124287.73 120500.  ]
 [314965.85 250000.  ]
 [175719.14 207500.  ]
 [299027.88 318000.  ]
 [238507.36 262500.  ]
 [277890.05 269500.  ]
 [330991.54 423000.  ]
 [171513.63 143500.  ]
 [160235.69 130000.  ]
 [314836.52 297000.  ]
 [224044.26 219210.  ]
 [196548.25 153337.  ]
 [370246.23 342643.  ]
 [140797.24 138000.  ]
 [ 97735.2   91500.  ]
 [176676.49 171000.  ]
 [348921.64 325300.  ]
 [171526.88 178000.  ]
 [132187.19 139000.  ]
 [198083.52 194000.  ]
 [223437.71 200000.  ]
 [156281.75 160000.  ]
 [159088.21 139000.  ]
 [211231.09 235000.  ]
 [109350.47 119500.  ]
 [162444.32 180500.  ]
 [349233.2  325000.  ]
 [141722.79 127000.  ]
 [ 39822.26  61000.  ]
 [209567.96 214000.  ]
 [165822.24 141000.  ]
 [184344.16 160000.  ]
 [129328.06 134500.  ]
 [267032.01 269790.  ]
 [201090.09 205000.  ]
 [144329.21 133000.  ]
 [210786.49 200000.  ]
 [270918.6  248000.  ]
 [264650.74 228950.  ]
 [163479.09 170000.  ]
 [228963.37 271000.  ]
 [392149.99 446261.  ]
 [249284.62 255000.  ]
 [206497.57 223500.  ]
 [200732.42 181500.  ]
 [130387.72 118500.  ]
 [172620.42 146000.  ]
 [158404.76 169900.  ]
 [ 95229.36  87000.  ]
 [384620.66 415298.  ]
 [219637.59 236000.  ]
 [152752.46 158000.  ]
 [151926.65 140000.  ]
 [283786.1  315000.  ]
 [376307.88 337500.  ]
 [123552.45 108000.  ]
 [ 75825.62  88000.  ]
 [ 93827.02 107900.  ]
 [130020.11 130000.  ]
 [ 69839.25  52000.  ]
 [365503.43 253293.  ]
 [156886.18 140000.  ]
 [264549.58 238000.  ]
 [238568.07 248900.  ]
 [135821.84  91500.  ]
 [364398.86 381000.  ]
 [218440.57 214000.  ]
 [150998.43 143000.  ]
 [221519.79 222500.  ]
 [179176.13 151000.  ]
 [137754.33 157000.  ]
 [ 84995.68 107000.  ]
 [199899.21 191000.  ]
 [127580.86 132000.  ]
 [216793.84 233170.  ]
 [138786.61 175000.  ]
 [192975.95 185900.  ]
 [131249.81 139400.  ]
 [182605.4  207500.  ]
 [128847.33  89500.  ]
 [164651.7  155000.  ]
 [141894.48 155000.  ]
 [105390.45 110000.  ]
 [209209.31 217000.  ]
 [326763.81 369900.  ]
 [148810.52 149500.  ]
 [115702.78 118000.  ]
 [186623.64 201000.  ]
 [149818.63 145250.  ]
 [207642.61 159500.  ]
 [104956.9  119000.  ]
 [143374.32 148500.  ]
 [208496.56 210000.  ]
 [129049.49 128200.  ]
 [396111.04 361919.  ]
 [235035.87 245000.  ]
 [147695.39 145000.  ]
 [172548.77 197500.  ]
 [228830.82 201000.  ]
 [190716.26 173000.  ]
 [101702.34 125000.  ]
 [ 71715.78  98000.  ]
 [172376.94 179000.  ]
 [122450.07 110500.  ]
 [153357.06 135000.  ]
 [160800.43 140000.  ]
 [251531.26 227875.  ]
 [177996.33 169000.  ]
 [153074.9  127000.  ]
 [221422.71 185000.  ]
 [176044.72 175900.  ]
 [245555.49 224500.  ]
 [176696.76 162000.  ]
 [148520.29 144000.  ]
 [196964.19 230000.  ]
 [133044.04 127000.  ]
 [251528.37 282922.  ]
 [ 73440.54  99900.  ]
 [186899.33 176000.  ]
 [165147.79 125000.  ]
 [170761.65 137500.  ]
 [349493.32 320000.  ]
 [129565.32 139900.  ]
 [327693.84 325000.  ]
 [ 93151.16 109000.  ]
 [501683.25 745000.  ]
 [228150.78 222000.  ]
 [ 96647.57 123000.  ]
 [107760.    83500.  ]
 [138639.94 144000.  ]
 [202105.06 192000.  ]
 [134675.21 142000.  ]
 [108178.42 105000.  ]
 [346661.9  412500.  ]
 [115177.37  40000.  ]
 [503632.79 438780.  ]
 [183088.64 129900.  ]
 [140569.51 171000.  ]
 [131422.22 125500.  ]
 [292094.98 222000.  ]
 [339958.44 380000.  ]
 [113530.06 110000.  ]
 [191123.85 176000.  ]
 [182262.07 210000.  ]
 [178026.18 196500.  ]
 [ 71837.92  91000.  ]
 [321161.27 260000.  ]
 [ 60635.04  34900.  ]
 [155895.47 119000.  ]
 [185159.69 172785.  ]
 [156929.71 190000.  ]
 [224690.58 229000.  ]
 [134441.87 134000.  ]
 [225480.94 208900.  ]
 [106797.31 111250.  ]
 [187977.73 168000.  ]
 [107191.79 126175.  ]
 [190526.13 129000.  ]
 [114720.37 134500.  ]
 [193377.17 167900.  ]
 [163240.02 132500.  ]
 [182801.71 196000.  ]
 [ 87659.33  95000.  ]]